@import url(https://fonts.googleapis.com/css?family=Lobster);

header{
	background-image: url(../img/fondo_uni.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: rgb(150,255,10);
}   
.navbar-brand img{
    max-width: 100%;
    max-height: 300%;
}
#logoimg{
    margin-top: -13%;
}
.modal-body a{
    font-weight: bold;
}
.fixed-logo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    max-width: 40%;
    max-height: 40%;
    top: 35%;
}
.fixed-logo  img{
    margin-bottom: 18%;
}
@media (max-width: 768px) {
    .navbar-brand img{
        max-height: 200%;
    }
    #logoimg{
        margin-top: -10%;
    }
    .fixed-logo{
        top: 25%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        max-width: 40%;
        max-height: 40%;
        left: 0px;
        right: 0px;
    }
    #vemas-btn{
        visibility: hidden;
    }
}
@media (max-width: 320px) {
    .fixed-logo{top: 10%}
}
#govirlogo img{
    width: 50%;
}


::selection {
    text-shadow: none;
    background: rgb(80,154,59);
}
.parrafo p{
    font-size: 1.2em;
    
}
#paragraph{
    margin-top: -2em;
    margin-bottom: 4%;
}
.navbar-default{
	background-color: rgba(0,0,0,0.2);
}
.carousel-inner img{
    width: 100%;
}
#govir-intro{
    font-family: 'Lobster';
    margin-bottom: 4%;
    font-size: 800%;
    text-transform: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#govir-subintro{
	font-size: 1.5em;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
@media (max-width: 768px) {
    #govir-intro {
        font-size: 500%;
    }
    #govir-subintro{
        font-size: 1em;
    }
}
@media (max-width: 500px) {
    #govir-intro {
        font-size: 340%;
    }
    #govir-subintro{
        font-size: 0.9em;
    }
    .intro-text{
        margin-top: -13%;
    }
    #vemas-btn{
        visibility: hidden
    }

}
.logoserv > img{
	width: 100%;
}
.logonos > img{
	width: 65%;
}
.logomiembros > img{
	width: 70%;
}
#services{
    background-color: #fff;
}
section#contact {
    background-color: #222;
    background-image: url(../img/streets.jpg);
    background-position: center center;
    background-repeat: none;
     webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.contactexto > h3{
	color: #fff;
}
.sinfondo{
    border-radius: 32px;
}
::-moz-selection {
    text-shadow: none;
    background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
}

::selection {
    text-shadow: none;
    background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
}

/*navbar*/
.navbar-default .navbar-nav > .active > a {
    background-color: rgb(80,154,59);
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: rgb(80,154,59);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgb(80,154,59);
}
.navbar-default .navbar-toggle {
    border-color: rgb(80,154,59);
    background-color: rgb(80,154,59);
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: rgba(80,154,59,0.5);
}
/*Portfolio*/
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(80,154,59,.8);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}