::-moz-selection {
    text-shadow: none;
    background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
}
a{
    color: rgb(80,154,59);
}
a:hover, a:focus{
    color: rgb(42,78,32);
    background-color: rgba(42,78,32,0.2);
}
::selection {
    text-shadow: none;
    background: rgba(0,0,0,0.6) none repeat scroll 0% 0%;
}

.btn-primary {
    border-color: rgb(80,154,59);
    background-color: rgb(80,154,59);
}
.btn{
    background-color: rgb(80,154,59);
    border-color: rgb(80,154,59);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn-xl{
    background-color: rgb(42,78,32);
    border-color: rgb(42,78,32);
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active{
    background-color: rgb(80,154,59);
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, 
.btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, 
.btn-primary.active[disabled], fieldset[disabled] .btn-primary.active{
    background-color: rgb(42,78,32);
    border-color: rgb(42,78,32);
}
::-moz-selection {
    text-shadow: none;
    background: rgba(80,154,59,0.5);
}