<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Cómo funciona?</h2>
                    <h3 class="section-subheading text-muted">¡Es fácil! Solo tienes que hacer lo siguiente.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/aplicacion-prox.png" class="img-responsive" alt="Download"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>1. Descarga la aplicación</h4>
                        <!--<p class="text-muted">Graphic Design</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/inicia-sesion.jpg" class="img-responsive" alt="Log in"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>2. Inicia sesión</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/login.jpg" class="img-responsive" alt="E-mail"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>3. Ingresa tu correo institucional</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/ruta.jpg" class="img-responsive" alt="Ruta"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>4. Planea tu ruta</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/de-acuerdo.jpg" class="img-responsive" alt="Plan"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>5. Ponte de acuerdo</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/juntos.jpg" class="img-responsive" alt="Juntos"/>
                    </a>
                    <div class="portfolio-caption">
                        <h4>6. A recorrer juntos!</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Descarga la aplicación</h2>
                            <p class="item-intro text-muted">Todo en la palma de tu mano.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/aplicacion-prox.png" alt=""/>
                            <p>Govir es gratuito y se encuentra disponible para dispositivos Android 4.0 o superior en Google Play.</p>
                            <p>Puedes descargar la versión de Android desde aquí: <a href=""><i class="fa fa-android" style="font-size: 3em; margin-left: 1em;"></i></a></p> 
                            <p>Pronto en dispositivos con iOS.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Volver</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Inicia sesión</h2>
                            <p class="item-intro text-muted">En la red social de tu preferencia.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/inicia-sesion.jpg" alt=""/>
                            <p>Utilizando alguna de tus redes sociales (Facebook o Twitter) ayudarás a decirle a los demás usuarios de Govir quién eres. Así será más fácil identificarte.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Ingresa tu correo institucional</h2>
                            <p class="item-intro text-muted">Valida para que sepamos que eres tú.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/login.jpg" alt=""/>
                            <p>Tu seguridad es muy importante. Por esa razón, solo podrás usar Govir cuando hayas validado tu sesión con una cuenta de correo válida de la institución a la que pertenezcas.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Planea tu ruta</h2>
                            <p class="item-intro text-muted">Elige tu origen, comparte tu destino.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/ruta.jpg" alt=""/>
                            <p>Indica cómo será tu viaje o conoce los viajes de personas cercanas. El procedimiento es muy simple: </p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Si eres chofer</h4>
                                    <img src="img/portfolio/manual-chofer.png" class="img-responsive" />
                                </div>
                                <div class="col-lg-6">
                                    <h4>Si eres pasajero</h4>
                                    <img src="img/portfolio/manual-pasajero.png" class="img-responsive" />
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Ponte de acuerdo</h2>
                            <p class="item-intro text-muted">Mira quién quiere compartir tu camino.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/de-acuerdo.jpg" alt=""/>
                            <p>Comunícate con las demás personas con quien recorres el camino y acuerden una hora y un punto de reunión.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>A recorrer juntos</h2>
                            <p class="item-intro text-muted">Nuevas amistades. Nuevas aventuras... Y ahorrando de manera ecológica.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/juntos.jpg" alt=""/>
                            <p>¡A recorrer juntos! Sé puntual y disfruta el viaje. Conoce nuevas personas y diviértete.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>