<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Qué es Govir?</h2>
                    <h3 class="section-subheading text-muted">Una opción comunitaria.</h3>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12 text-justify parrafo" id="paragraph">
                    <p class="text-center">GoVir es más que una App. Es una manera de demostrar que nos importa el medio ambiente y la sustentabilidad. Lo demostramos compartiendo. De esta manera se reduce la emisión de gases de efecto invernadero (GEI), principal causa del calentamiento global, representando un ahorro económico tanto para el usuario como para quien brinda el servicio.</p>
                    <p class="text-center">Al mismo tiempo, enfrenta el problema del transporte al proponer una alternativa que reduce el número de automóviles en la ciudad.

                    GoVir. Compartir es ahorrar. Compartir es ser sustentable.</p>
                </div>
            </div>
                    
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x logoserv">
                        <img alt="Smartphone" src="img/logos/mobile.png" class="img-responsive"/>
                    </span>
                    <h4 class="service-heading">Desde tu Smartphone</h4>
                    <p class="text-muted">Crea rutas y localiza personas que comparten tu mismo camino hacia tu destino. Unos cuantos clics y estarán recorriendo el camino juntos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x logos">
                        <img alt="Sustentable" src="img/logos/ecofriendly.png" class="img-responsive"/>
                    </span>
                    <h4 class="service-heading">Sustentable</h4>
                    <p class="text-muted">Menos gasolina consumida. Menos Gases de Efecto Invernadero. Menos carros en la calle. Menos embotellamientos. Menos tiempo recorrido.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x logos">
                        <img alt="Seguro" src="img/logos/locked43.png" class="img-responsive" title="Icon made by Alessio Atzeni from www.flaticon.com is licensed under CC BY 3.0"/>
                    </span>
                    <h4 class="service-heading">Completamente seguro</h4>
                    <p class="text-muted">Solamente los usuarios de la institución a la que vas pueden contactarte. Podrás conocer su perfil e incluso su auto antes de abordar.</p>
                </div>
            </div>
        </div>
    </section>